@import "../../core/core.scss";

:host {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgba(41,51,63,.8);
  transition: all .3s;
  opacity: 0;

  position: absolute;
  z-index: 101;

  button {
    margin: 10px;
  }

  &:hover {
    opacity: 1;
  }
}

::ng-deep .amp-mode-buttons__hide {
  opacity: 0;
  pointer-events: none;
}
