<div class="amp-edit-toolbar__modes">
  <mat-menu #buttonMenu="matMenu" class="amp-edit-toolbar__menu">
    <div class="amp-edit-toolbar__slidergroup" *ngFor="let slider of activeSliders" (click)="$event.stopPropagation()"
      [ngClass]="{'amp-edit-toolbar__slidergroup--margin': slider.type !== 'listItem'}">

      <button mat-menu-item
      *ngIf="slider.type == 'listItem'"
      class="amp-edit-toolbar__item"
      [ngClass]="{'amp-edit-toolbar__item--active': getSliderValue(slider) === slider.value }"
      (click)="updateSliderValue(slider, slider.value)">
        <mat-icon>check</mat-icon><span>{{slider.name}}</span>
      </button>

      <div class="amp-edit-toolbar__menu__label" *ngIf="slider.type != 'listItem'">{{slider.name}}</div>
      <mat-slide-toggle
      *ngIf="slider.type == 'bool'"
      [checked]="!!getSliderValue(slider)"
      (change)="updateSliderValue(slider, $event.checked)">
      </mat-slide-toggle>
      <mat-slider
      *ngIf="slider.type == 'slider'"
      thumbLabel="true"
      [value]="getSliderValue(slider)"
      [min]="slider.min"
      [max]="slider.max"
      (input)="updateSliderValue(slider, $event.value)"></mat-slider>
    </div>
  </mat-menu>
  <ng-container *ngFor="let button of buttons">
    <button mat-flat-button
    *ngIf="button.sliders.length !== 0"
    [color]="(editor.mode == button.mode) ? 'primary' : 'secondary'"
    (click)="setMode(button)"
    [matMenuTriggerFor]="buttonMenu">
      {{button.name}}
    </button>
    <button mat-flat-button
    *ngIf="button.sliders.length === 0"
    [color]="(editor.mode == button.mode) ? 'primary' : 'secondary'"
    (click)="setMode(button)">
      {{button.name}}
    </button>
  </ng-container>
</div>
<div class="amp-edit-toolbar__right">
    <button mat-button (click)="exitMode(true)">Cancel</button>
    <button mat-flat-button color="primary" (click)="exitMode(false)">Done</button>
</div>
