%am-description-list {
  display: flex;
  flex-flow: wrap;
  dt {
    display: block;
    width: 120px;
    color: $color-another-grey;
    margin: 0;
    line-height: 30px;    
  }
  dd {
    display: block;
    margin: 0;
    flex: 1 1 100%;
    max-width: calc(100% - 120px);
    line-height: 30px;    
  }
}