$color-primary: #039be5;
$color-primary-light: #1ab0f9;
$color-primary-lighter: #39b1f3;
$color-primary-lighterer: #edf8fd;
$color-primary-lightest: #f2fafe;
$color-azzurro: #26b6ea;
$color-primary-dark: #0279b3;
$color-primary-disabled: #a3d1f2;
$color-bleu: #0288d1;
$color-white: #fff;
$color-grey: #747980;
$color-rolling-stone: #808080;
$color-lighter-grey: #e5e5e5;
$color-light-grey: #ccc;
$color-greyed: #ddd;
$color-lightest-grey: #f2f2f2;
$color-dove-grey: #666666;
$color-gunmetal-grey: #5e666f;
$color-darkest-grey: #333333;
$color-another-grey: #999;
$color-yet-another-grey: #bfbfbf;
$color-iron: #c9cccf;
$color-greeeeey: #eee;
$color-dick-grayson: #c6c6c6; 
$color-almost-iron: #cacccf;
$color-grey-on-grey-grey: #d9d9d9;
$color-light-background-grey:#fafafa;
$color-jean-grey: #b2b2b2;
$color-wild-sand: #f5f5f5;
$color-mid-grey: #a2a6ab;
$color-dark-grey: #2e3641;
$color-girgio: #7B8085;
$color-the-sky-is-grey: #9DA2A7;
$color-greoy: #e0e0e0;
$color-blue-grey: #e9eaeb;
$color-grey-fofo: #f0f0f0;
$color-maybe-grey: #9da2a2;
$color-mid-black: #29333f;
$color-nero: #1D1D1B;
$color-black: #17202c;
$color-absolute-black: #000;
$color-purple-fusion: #b74cd9;
$color-warning-orange: #ff6600;
$color-icon-orange: #ff8a00;
$color-error-red: #ff3366;
$color-dark-red: #e52253;
$color-red-red: #f00;
$color-another-red: #dd2c00;
$color-danger-red: #f44336;
$color-pink: #ff98b1;
$color-valid-green: #7ed900;
$color-published-green: #66cc00;
$color-strong-green: #0a0;
$color-light-blue: #99d8f2;
$color-lighter-blue: #d1effe;
$color-light-light-blue: #a6d7ef;
$color-dark-blue: #039be5;
$color-hyperlink-blue: #0000ee;
$color-why-do-we-need-another-blue: #a9e1fd;
$color-primary-7p: rgba($color-primary, 0.07);
$color-primary-10p: rgba($color-primary, 0.1);
$color-primary-20p: rgba($color-primary, 0.2);
$color-primary-40p: rgba($color-primary, 0.4);
$color-black-10p: rgba($color-black, 0.1);
$color-black-20p: rgba($color-black, 0.2);
$color-black-40p: rgba($color-black, 0.4);
$color-black-50p: rgba($color-black, 0.5);
$color-black-60p: rgba($color-black, 0.6);
$color-black-70p: rgba($color-black, 0.7);
$color-black-80p: rgba($color-black, 0.8);
$color-white-0p: rgba($color-white, 0);
$color-white-20p: rgba($color-white, 0.2);
$color-white-40p: rgba($color-white, 0.4);
$color-white-50p: rgba($color-white, 0.5);
$color-white-80p: rgba($color-white, 0.8);
$color-rolling-stone-20p: rgba($color-rolling-stone, 0.2);
$color-greyed-50p: rgba($color-greyed, 0.5);
$color-mid-black-50p: rgba($color-mid-black, 0.5);
$color-mid-black-80p: rgba($color-mid-black, 0.8);
$color-maybe-grey-30p: rgba($color-maybe-grey, 0.3);
$color-maybe-grey-60p: rgba($color-maybe-grey, 0.6);