$base-font-size: 13px;
$bfz: $base-font-size;
$font-size-xxx-large: 32px;
$font-size-xx-large: 27px;
$font-size-x-large: 22px;
$font-size-xp-large: 24px;
$font-size-title: 18px;
$font-size-x-title: 19px;
$font-size-xx-title: 20px;
$font-size-xxx-title: 21px;
$font-size-large: 16px;
$font-size-almost-large: 15px;
$font-size-mid: 14px;
$font-size-small: 12px;
$font-size-tiny: 11px;
$font-size-x-tiny: 10px;
$font-size-xs-tiny: 9.5px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
