@import '~@angular/material/theming';
@import "app/core/core";
@include mat-core();

$primary-pal: (
    50 : #e1f3fc,
    100 : #b3e1f7,
    200 : #81cdf2,
    300 : #4fb9ed,
    400 : #29aae9,
    500 : #039be5,
    600 : #0393e2,
    700 : #0289de,
    800 : #027fda,
    900 : #016dd3,
    A100 : #fbfdff,
    A200 : #c8e1ff,
    A400 : #95c5ff,
    A700 : #7bb8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($primary-pal);
$accent: mat-palette($primary-pal);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
